.App {
  text-align: center;
  overflow-x: hidden;
}
.Hero-section {
  margin-top: 10%;
}
.main-heading {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 58px;

  color: #f37a7a;
}
.skill-sec,
.contact-me {
  margin-top: 10%;
  margin-bottom: 10%;
}
